.status-active {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.status-inactive {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}